
<!DOCTYPE html>
<html>
<head>
    <title>ColorMag</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../../Contents/css/animate.css" rel="stylesheet" />
    <link href="../../Contents/css/animate.css" rel="stylesheet" />
    <link href="../../Contents/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Contents/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../Contents/css/font.css" rel="stylesheet" />
    <link href="../../Contents/css/structure.css" rel="stylesheet" />
</head>
<body>
                <div class=" col-sm-12 col-md-6 col-lg-6">
                    <div class="row">
                        <div class="leftbar_content">
                            <h2>The New Stuff</h2>
                            <div class="single_stuff wow fadeInDown">
                                <div class="single_stuff_img"> <a href="/pages/single"><img src="../../Contents/images/stuff_img1.jpg" alt=""></a> </div>
                                <div class="single_stuff_article">
                                    <div class="single_sarticle_inner">
                                        <a class="stuff_category" href="#">Technology</a>
                                        <div class="stuff_article_inner">
                                            <span class="stuff_date">Nov <strong>17</strong></span>
                                            <h2><a href="/pages/single">Duis quis erat non nunc fringilla</a></h2>
                                            <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra urna. Morbi dui lectus, pharetra nec elementum eget, vulputate ut nisi. Aliquam accumsan, nulla sed feugiat vehicula...</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_stuff wow fadeInDown">
                                <div class="single_stuff_img"> <a href="#"><img src="../../Contents/images/stuff_img1.jpg" alt=""></a> </div>
                                <div class="single_stuff_article">
                                    <div class="single_sarticle_inner">
                                        <a class="stuff_category" href="#">Technology</a>
                                        <div class="stuff_article_inner">
                                            <span class="stuff_date">Nov <strong>17</strong></span>
                                            <h2><a href="#">Duis quis erat non nunc fringilla</a></h2>
                                            <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra urna. Morbi dui lectus, pharetra nec elementum eget, vulputate ut nisi. Aliquam accumsan, nulla sed feugiat vehicula...</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_stuff wow fadeInDown">
                                <div class="single_stuff_img"> <a href="#"><img src="../../Contents/images/stuff_img1.jpg" alt=""></a> </div>
                                <div class="single_stuff_article">
                                    <div class="single_sarticle_inner">
                                        <a class="stuff_category" href="#">Technology</a>
                                        <div class="stuff_article_inner">
                                            <span class="stuff_date">Nov <strong>17</strong></span>
                                            <h2><a href="#">Duis quis erat non nunc fringilla</a></h2>
                                            <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra urna. Morbi dui lectus, pharetra nec elementum eget, vulputate ut nisi. Aliquam accumsan, nulla sed feugiat vehicula...</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="stuffpost_paginatinonarea wow slideInLeft">
                                <ul class="newstuff_pagnav">
                                    <li><a class="active_page" href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>             
    <script src="../../Scripts/js/jquery.min.js"></script>
    <script src="../../Scripts/js/bootstrap.min.js"></script>
    <script src="../../Scripts/js/wow.min.js"></script>
    <script src="../../Scripts/js/custom.js"></script>
</body>
</html>

